body {
	background: url(https://www.toptal.com/designers/subtlepatterns/patterns/doodles.png);
	text-align: center;
}

button {
	height: 80px;
	width: 200px;
	background: turquoise;
	border: white solid 1px;
	border-radius: 5px;
	margin-top: 50px;
	margin-bottom: 15px;
	font-family: monospace;
	font-size: 24px;
	color: #FAFAFA;
}

button:hover {
	height: 80px;
	width: 200px;
	background: black;
	border: white solid 1px;
	border-radius: 5px;
	margin-top: 50px;
	font-family: monospace;
	font-size: 24px;
	color: #F3F3F3;
}

#main-box {
	margin: auto;
	margin-top: 200px;
	background: #FAFAFA;
	border: grey solid 1px;
	color: black;
	min-height: 300px;
	width: 500px;
}